{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Hackathon 2018: Groundtruth</h1>
    <hr><br>
    <div id="input-container">
      <div class="col-lg-10">
        <div class="input-group">
          <input id="input-url" name="input-url" type="text" class="form-control" placeholder="Fetch image...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="submit">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <br><br>
    <div id="output-container">

    </div>
</div>

{% endblock %}
